
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (mobile) */
@media (min-width: 319px) {
  
  .main-container {
    bottom: auto;
  }

  .header-block {
    text-align: center;
  }

  .main-logo {
    display: inline-block;
    padding: 20px 0 0 0;
  }

  .user-avatar {
    margin: 10px 0 0 0;
  }

  .header-closs-btn {
    margin: 10px 0 0 0;
  }

  .item-photo {
    margin: 0 auto 20px;
  }
  
  .main-basket-block{
    top: -20px;
    height: 200px;
  }

  .right-sidebar {
    padding-top: 0;
    .take-btn {
      float: right;
      margin: -80px 0 20px 0;
      width: 47%;
    }
  }

  .price-container {
    width: auto;
    padding: 0 0 0 0;
    background-color: none;
    // .discount {
    //   width: 50% !important;
    //   margin: 10px auto;
    // }
  }

  .add-click-btn {
    span {
      .border-radius(25px);
      float: left;
      margin: -5px -100px 0 10px;
      padding: 5px 12px;
      border: solid #fff 1px;
    }
  }

}

/* Small devices (tablets) */
@media (min-width: 401px) and (max-width: 680px) {  
  .item-photo {
    width: 160px;
    height: 160px;
  }

  .item-title {
    font-size: 26px;
  }

  .item-price {
    font-size: 18px;
  }
  
  .main-basket-block{
    height: 240px; 
  }

  .take-btn {
    margin: -80px 0 20px 0 !important;
  }
}


/* Large devices (tablets) */
@media (min-width: 680px) {  

  .main-container {
    bottom: 0;
  }

  .main-block {
    min-height: 520px;
    margin: 30px auto;
  }

  .pop-up-block {
    margin: 30px auto; 
  }

  .left-sidebar {
    padding: 60px 20px 0 20px;
  }

  .right-sidebar {
    padding: 60px 20px 0 20px;
  }   
  
  .item-photo {
    margin: 0 auto 25px;
  }

  .main-basket-container {
    position: absolute;
    width: 218px;
    height: 435px;
    top: 50px;
    left: 50%;
    margin: 0 0 0 -102px;
    background-image: url(../images/2-1img-back.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  
  .main-basket-block{
    z-index: 10;
    position: relative;
    width: 146px;
    height: 240px;
    top: 50px;
    margin: 0 auto;
    padding: 60px 0 0 0;
    background-image: url(../images/2-2img-price.png);
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    color: #d2f7f2;
    font-size: 12px;
    text-align: center;
    .price {
      padding: 10px 0;
      font-size: 40px;
      letter-spacing: -3px;
    }
    span {
      display: block;
      font-size: 15px;
      color: #5cc99e;
    }
  }
  
  .price-container {
    .border-radius(15px);
    width: 200px;
    margin: 0 0 20px 0;
    padding: 20px;
    background-color: #e8e8e8;
    color: #919191;
    font-size: 13px;
    line-height: 18px;
  }

  .take-btn {
    float: none !important;
    top: auto !important;
    margin: 10px 0 0 0 !important;
    width: auto !important;
  }
  
}

/* Medium devices (desktops) */
@media (min-width: 900px) { 
 
}

/* Large devices (large desktops) */
@media (min-width: 1200px) {  
  
}


// @media (max-width: @screen-xs-max) {  }
// @media (min-width: @screen-md) and (max-width: @screen-lg-min) {  }
// @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {  }
// @media (min-width: @screen-lg-min) {  }



