// ==========================================================================

// Base Stylesheet - http://git.io/base
// Author: Matthew Hartman - http://www.matthewhartman.com.au/
// Version: 1.8.5 - Last Updated: 25th of June, 2014

// ==========================================================================

  @import "base/_variables";    // Global Variables

  @import "base/_mixins";       // Base Mixins
  @import "base/_resets";       // General Resets

  @import "base/_global";       // Global Typography and Headings
  @import "base/_lists";        // Unordered Lists, Ordered Lists and Navigation
  @import "base/_blockquotes";  // Blockquotes
  @import "base/_code";         // Code
  @import "base/_tables";       // Tables
  @import "base/_forms";        // Forms, Input Types and Buttons

  @import "base/_buttons";      // Custom Base Buttons
  @import "base/_helpers";      // Custom Base Helpers
  
  @import "base/_grid";         // Grid
  @import "base/_tablet-grid";  // Tablet Grid
  @import "base/_mobile-grid";  // Mobile Grid
  @import "base/_print";        // Print Page Styles
  
  body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }

  .btn {
    &:hover {
      opacity: (0.7);
    }
  }

  .main-container, .pop-up-container {
    z-index: 12;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #000;
  }

  .closs-btn {
    .border-radius(25px);
    float: right;
    width: 40px;
    height: 40px;
    margin: 10px 10px 0 10px; 
    background-image: url(../images/close.svg);
    background-size: 65% 65%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .main-block {
    .border-radius(20px);
    z-index: 10;
    position: absolute;
    width: 840px;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin: 30px auto;
    background-color: #f7f7f7;
  }

  .header-block {
    .borders-radius(20px, 0, 0, 20px);
    padding: 0;
    height: 60px;
    background-color: #fff; 
  }

  .main-logo {
    padding: 20px 0 0 60px;
    color: #212121;
    font-size: 18px;
    text-transform: uppercase;
  }

  .user-avatar {
    .border-radius(25px);
    float: right;
    width: 40px;
    height: 40px;
    margin: 10px 10px 0 10px; 
    background-color: #f2f2f2;
    background-image: url(../images/login_icon.png);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;  
  }
  
  .user-name {
    float: right;
    padding: 18px 30px 0 0;
    color: #212121;
    font-size: 14px;
  }

  .enter {
    float: right;
    padding: 18px 30px 0 0;
    color: #212121;
    font-size: 14px; 
    text-decoration: none;
  }

  .header-closs-btn {
    .border-radius(25px);
    float: right;
    width: 40px;
    height: 40px;
    margin: 10px 10px 0 10px; 
    background-color: #f2f2f2;
    background-image: url(../images/close.svg);
    background-size: 65% 65%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .attempts-block {
    float: right;
    padding: 18px 20px 0 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #00ab68;
    font-size: 14px;
    .attempts {
      .border-radius(25px);
      float: left;
      display: block;
      width: 40px;
      height: 40px;
      margin: -7px 5px 0 0;
      padding: 9px 0 0 0;
      border: solid #00ab68 1px;
      color: #00ab68;
      font-size: 20px;
      text-align: center;
      transition: opacity 300ms, transform 300ms;
    }
  }

  .left-sidebar {
    float: left;
    margin: 60px 0 0 8.196721311475%;
  }

  .right-sidebar {
    float: right;
    margin: 60px 8.196721311475% 0 0;
  }

  .item-container {
    .border-radius(15px);
    width: 190px;
    height: 350px;
    margin: 0 0 20px 0;
    padding: 20px 0 0 0;
    background-color: #e8e8e8;
  }

  .item-photo {
    .border-radius(200px);
    width: 120px;
    height: 120px;
    margin: 0 auto 25px;
    background-color: #fff;
    img {
      width: 100%;
      .border-radius(200px);
    }
  }

  .item-title {
    padding: 0 10px 20px 10px;
    color: #2d8ccc;
    font-size: 19px;
    text-align: center;
  }

  .item-price {
    padding: 0 10px 25px 10px;
    color: #333;
    font-size: 14px;
    text-align: center;
  }

  .item-btn {
    .border-radius(5px);
    display: block;
    margin: 0 30px;
    padding: 10px 0;
    background-color: #f5c800;
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
  }
  
  .add-click-btn {
   .border-radius(5px);
    display: block;
    margin: 0 30px;
    padding: 10px 0;
    background-color: #1c75bc;
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-decoration: none; 
  }

  .main-basket-container {
    position: absolute;
    width: 218px;
    height: 435px;
    top: 50px;
    left: 50%;
    margin: 0 0 0 -109px;
    background-image: url(../images/2-1img-back.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .main-basket-block{
    z-index: 10;
    position: relative;
    width: 146px;
    height: 240px;
    top: 50px;
    margin: 0 auto;
    padding: 60px 0 0 0;
    background-image: url(../images/2-2img-price.png);
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    color: #d2f7f2;
    font-size: 12px;
    text-align: center;
    .price {
      padding: 10px 0;
      font-size: 40px;
      letter-spacing: -3px;
    }
    span {
      display: block;
      font-size: 15px;
      color: #5cc99e;
    }
  }

  .discount {
    .border-radius(15px);
    margin: 5px 25px;
    padding: 5px 0;
    background-color: #009653;
    color: #fff;
    text-align: center;
  }

  .main-basket-cover{
    z-index: 11;
    position: absolute;
    width: 218px;
    height: 160px;
    bottom: 10px;
    margin: 0 auto;
    background-image: url(../images/2-3img-face.png);
    background-size: 100% 100%;
    background-repeat: no-repeat; 
  }

  .lucky-btn {
    .border-radius(5px);
    display: block;
    margin: 250px 0 0 0;
    padding: 15px 0;
    background-color: #1c75bc;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none; 
  }
  
  .price-container {
    .border-radius(15px);
    width: 200px;
    margin: 40px 0 20px 0;
    padding: 20px;
    background-color: #e8e8e8;
    color: #919191;
    font-size: 13px;
    line-height: 18px;
  }

  .arrow-ico {
    float: left;
    width: 30px;
    height: 30px;
    margin: 0 10px 10px 0;
    background-image: url(../images/arrow-green.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat; 
  }

  .take-btn {
   .border-radius(5px);
    display: block;
    margin: 10px 0 0 0;
    padding: 10px 0;
    background-color: #1dc251;
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-decoration: none; 
  }

  .one-more-btn {
    .border-radius(5px);
    display: block;
    margin: 10px 0 0 0;
    padding: 10px 0;
    background-color: #1c75bc;
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-decoration: none; 
  }
  
  .pop-up-block {
    .border-radius(20px);
    z-index: 13;
    position: absolute;
    width: 640px;
    height: 440px;
    margin: -220px 0 0 -320px;
    top: 50%;
    left: 50%;
    background-color: #575757;
    .title {
      margin: 15px 0;
      font-size: 18px;
      color: #fff;
      text-align: center;
    }
  }

  .pop-up-header {
    .borders-radius(20px, 0, 0, 20px);
    height: 60px;
    background-color: #fff;
    text-align: center;
  }

  .pop-up-content {
    padding: 20px 0 30px 0;
    background-color: #474747;
    color: #fff;
    font-size: 12px;
    text-align: center;
  }
  
  .f-btn, .v-btn, .t-btn {
    .border-radius(5px);
    display: block;
    padding: 10px 0;
    background-color: #4b89dc;
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-decoration: none; 
  }  

  .v-btn {
    background-color: #6b9fe3;
  }

  .t-btn {
    background-color: #4fc0e8;
  }
  
  .send-discount-form {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    .input {
      .border-radius(5px);
      display: inline-block;
      width: 320px;
      margin: 0 10px 0 0;
      padding: 15px;
      color: #2e2e2e;
      font-size: 12px;
    }
    .submit {
      .border-radius(5px);
      display: inline-block;
      width: 100px;
      padding: 15px;
      border: none;
      background-color: #0688d4;
      color: #fff;
      font-size: 12px;
    }
  }

  .coupon-container {
    position: relative;
    width: 560px;
    height: 600px;
    margin: 40px auto;
  }

  .coupon-block {
    z-index: 11;
    position: absolute;
    width: 560px;
    height: 420px;
    background-image: url(../images/coupon-bg01-3-2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat; 
  }

  .coupon-cover {
    z-index: 13;
    position: absolute;
    width: 560px;
    height: 420px;
    top: 160px;
    background-image: url(../images/coupon-bg01-2-2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat; 
  }

  .coupon-content {
    z-index: 13;
    position: absolute;
    width: 520px;
    height: 420px;
    top: -80px;
    left: 20px;
    background-image: url(../images/coupon-bg02-2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat; 
  }

  


